*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#elemTable{
    max-width: 90vw;
    margin: auto;
}
h1{
    text-align: center;
}
#primaryTable{
    display: flex;
    justify-content: row;
    justify-content: center;
}
#alkali{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#alkali .tile{
    background: lightcoral;
}
.tile{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    text-align: center;
}
.tile b {
    margin-bottom: 5px;
}
#transition{
    display: flex;
    align-items: flex-end;
}
#transition .tile{
    background: lightskyblue
}
#metalloids{
    display: flex;
    align-items: flex-end;
}
#metalloids .tile{
    background: lightgreen;
}
#noble .tile{
    background: royalblue;
}
#nides{
    margin-top: 25px;
}
#nides .tile{
    background: cyan
}
.row{
    display: flex;
    justify-content: row;
    justify-content: center;
}
.tile{
    transition: transform .2s;
}
.tile:hover{
  transform: scale(1.75);
}
footer{
    margin-top: 15px;
    text-align: center;
}
footer a{
    font-size: x-large;
}
footer i{
    transition: transform .2s;
    margin-top: 10px;
}
footer i:hover{
    transform: scale(1.9);
  }
@media only screen and (max-width: 1500px) {
    #primaryTable {
      flex-direction: column;
    }
    #alkali{
        flex-direction: column;
        align-items: center;
    }
    #metalloids{
        flex-direction: column;
        align-items: center;
    }
    #transition{
        flex-direction: column;
        align-items: center;
    }
    #noble{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column{
        display: flex;
        flex-direction: row;
    }
    .break{
        display: flex;
    }
    #nides{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #nides .row{
        flex-wrap: wrap;
    }
    .tile{
        margin: 10px;
    }

  }